* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #decfcf;
}

header {
    background-color: rgba(33, 32, 32, 0.877);
    color: #e9dede;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: black;
    padding: 10px;
    justify-content: center;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
}

.container {
    text-align: center;
    color: rgb(161, 112, 112);
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 700px;
    padding: 70px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgb(69, 54, 1);
}

.container p {
    margin: 20px;
}

button {
    color: rgb(188, 114, 23);
    background-color: rgb(241, 219, 186);
    border: none;
    padding: 10px;
}

button:hover {
    color: rgb(69, 54, 1);
    background-color: rgb(210, 196, 143);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(69, 54, 1);
    
}

footer {
    text-align: center;
    font-family: fantasy;
    color: rgb(255, 183, 0);
    background-color: rgb(112, 89, 89);
    padding: 10px;
}